body {
    background-color: #0b132b;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding-top: 40px;
}

h1 {
    font-size: 3em;
    margin-bottom: 30px;
}

.score {
    font-size: 8em;
    font-weight: bold;
    color: #fca311;
    margin: 20px 0;
}

.timer {
    font-size: 3em;
    margin: 20px 0;
}

.status {
    font-size: 1.5em;
    opacity: 0.8;
}